@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Montserrat:wght@100;300;500&family=Poppins:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    height: 100vh;
    background : linear-gradient(136deg, rgb(224,195,252) 0%, rgb(142,197,252) )
}

.wrapper {
    background: #fff;
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 14px;
    padding: 30px;
    max-width: 400px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.wrapper .icon {
    height: 110px;
    width: 110px;
    background : linear-gradient(136deg, rgb(224,195,252) 0%, rgb(142,197,252) );
    line-height: 110px;
    border-radius: 50%;
    font-size: 55px ;
    color: #fff;
/* What this can help */    
}

.wrapper .content {
    margin: 20px 0;

}

.content header {
    font-size: 30px;
    font-weight: 600;
    
}

.content p {
    color: #333;
    font-size: 16px;
    font-weight: 400;
    margin-left: -3px;
}

form {
    width: 98%;
}

form .field{
    height: 45px;
    width: 100%;
    margin-bottom: 12px;
}


form .field input {
    height: 100%;
    width: 100%;
    border-radius: 10px;
    border: 1px solid #ccc ;
    padding: 0 15px ;
    outline: 17px;
    transition: all 0.3s ease;
}

form .field input:focus{
    border-color: rgb(142,197, 252);

}

form .btn{
    height: 47px;
}

form .btn input {
    background : linear-gradient(136deg, rgb(224,195,252) 0%, rgb(142,197,252) );
    color: #fff;
    font-size: 19px;
    font-weight: 500;
    padding: 0px;
    cursor: pointer;
}

.wrapper .text {
    margin-top: 5px;
}