/* defaule css*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: black;
}
#header a{
    color: white;
    text-decoration: none;
    padding: 15px 20px;
    display: block;
}

html {
    scroll-behavior: smooth;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}


#header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(0, 0, 0);
    position: fixed;
    width: 100%;
    height: 50px;
    z-index: 3;
}

#header li {
    display: inline-block;
}

#header .header-menu{
    display: block;
    text-transform: uppercase;
    padding: 10px 20px;
    list-style-type: none;
    font-weight: bolder;
}

#header .header-menu a:hover {
    color: black;
    background-color: #ccc;
    cursor: pointer;
}


#banner {
    width: 100%;
    height: 570px;
    position: relative;
    padding: 50px 0px 0px 0px;
    margin: 0px 0px 20px 0px;
    background: url('./Picture/back.jpg') no-repeat top center / cover;
}

#banner .banner-content {
    position: relative;
    width: 40%;
    height: calc(100% - 50px);
    margin: 20px 0px 20px 120px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#banner .logo-banner {
    position: relative; 
}


#banner .text1-banner{
    position: relative;
    color: orangered; 
    font-size: medium; 
    font-weight: 800;
}

#banner .text11-banner{
    color :blue;
}

#banner .text2-banner{
    position: relative;
    color: rgb(0, 0, 0);
    font-weight: 1000;
}

#banner .text3-banner{
    position: relative;
    color: darkblue;
    font-weight: 1000;
}
#banner .text31-banner{
    color :red;
}
#banner .text32-banner{
    color :rgb(3, 3, 219);
}
#banner .text34-banner{
    color :rgb(1, 166, 1);
}
#banner .text33-banner{
    color :rgb(251, 140, 4);
}

#banner .position-banner{
    position: relative;
    color: orangered;
}

#banner .apply-button{
    position: relative;
    border: 0px;
    background-color: orangered;
    width: 120px;
    height: 60px;
}

#banner .apply-text {
    color: rgb(255, 255, 255);
    font-weight: 600;
}

#banner .apply-button:hover {
    background-color: #ccc;
    cursor: pointer;
}
/*-------------------------------------------------------------*/
/* content paragraph 1*/
.content-para-1{
    margin-top: 50px;
    display: flex;
    margin-bottom: 150px;
}
.para-1-left{
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 400px;
    line-height: 50px;
    margin-left: 50px;
}
.para-1-right{
   width: 50%;
   left: 50%;
}
.text1-para1{
    color: #db4437;
    letter-spacing: 1px;
    font-size: 16px;
    text-transform: uppercase;
    display: block;
}
.text1-para2{
    font-size: 40px;
    margin-top: 10px;
    margin-bottom: 25px;
}
.visit-button{
    border: 0px;
    margin-top: 30px;
    justify-items: center;
    width: 150px;
    display: inline-block;
    background-color: orange;

}
/*============================================================*/

/* Event    */
#Event{
    margin-top: 100px;
    margin-left: 50px;
    margin-bottom: 200px;
}
#Event .Event-title{
    color: #db4437;
    letter-spacing: 1px;
    font-size: 16px;
    text-transform: uppercase;
    display: block;
    margin-bottom: 10px;
}
#Event .Event-Recently{
    margin-bottom: 30px;
    font-size: 50px;
}
#Event .Event-Recently-Event{
    position: absolute;
    text-transform: uppercase ;
    color: white;
    font-size: 100px;
    margin-left: 20px;
    margin-top: -45px;
}
#Event-list{
    display: flex;  
    margin-top: 50px; 
    font-size: 20px;
}
#Event .Event-website{
    background-color: white;
   width: 33%;
}
#Event .Event-website-title{
    margin-top: 15px;
}
#Event .Event-YouthCode{  
    width: 33%;
    margin-left: 100px;
 }
#Event .Event-LearningSeries{
    background-size: cover;
    background-color: white;
    width: 33%;
    margin-left: -30px;
    background-size: cover;
 }
 #Event .Event-LearningSeries-title{
    margin-top: 15px;
 }
/*============================================================*/