/* defaule css*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
#header a{
    color: white;
    text-decoration: none;
    padding: 15px 20px;
    display: block;
}

html {
    scroll-behavior: smooth;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    background-color: #000;
    overflow-x: hidden;
}

html, body {
    max-width: 100%;
    
   
}

#header{
    display: flex;
    width: 100%;
    background-color: rgb(255, 255, 255);;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(0, 0, 0);
    position: fixed;
    width: 100%;
    height: 90px;
    z-index: 3;
    top: 0px;
}
#header .header__imgname{
    display: flex;
    margin-left: 50px;
    padding: 0px 190px 14px 0px;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    
}
#header .header_title{
    margin-top: 10px;
    font-family: 'Poppins', sans-serif;
}
#header li {
    display: inline-block;
}

#header .header-menu{
    display: block;
    text-transform: uppercase;
    padding: 10px 20px;
    list-style-type: none;
    
}

#header .header-menu a:hover {
    color: black;
    background-color: #ccc;
    cursor: pointer;
}


#banner {
    width: 100vw;
    height: 750px;
    position: relative;
    padding: 50px 0px 0px 0px;
    margin: 80px 0px 0px 0px;
    /* background: url('./Picture/apple.jpg') no-repeat top center / cover ; */
    background: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url(./Picture/hello2.png);

    background-size:cover;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
}



#banner::before{
    

    content: "";
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background: #1a1a1a;
    opacity: .78;

}

#banner .banner-content {
    position: relative;
    width: 40%;
    height: calc(100% - 50px);
    margin: 20px 0px 20px 60px;
    display: flex;
    flex-direction: column;
    
}

#banner .logo-banner {
    position: relative; 
}


#banner .text1-banner{
    position: relative;
    color: orangered; 
    font-size: medium; 
    font-weight: 800;
}

#banner .text11-banner{
    color :blue;
}

#banner .text2-banner{
    position: relative;
    color: rgb(0, 0, 0);
    font-weight: 1000;
}

#banner .text3-banner{
    position: relative;
    color: rgb(255, 255, 255);
    font-weight: 1200;
    
    font-size: 65px;
    font-family: 'Ubuntu', sans-serif;
}
#banner .banner-content h1 b:nth-of-type(1){
    color: #4285f4;
    font-weight: 1000;
}

#banner .banner-content h1 b:nth-of-type(2){
    color: #db4437;
    font-weight: 1000;
}

#banner .banner-content h1 b:nth-of-type(3){
    color: #f4b400;
    font-weight: 1000;
}

#banner .banner-content h1 b:nth-of-type(4){
    color: #f4b400;
    font-weight: 1000;
}

#banner .position-banner{
    position: relative;
    color: rgb(255, 255, 255);
}

#banner .apply-button{
    position: relative;
    border: 0px;
    background-color: #db4437;
    width: 120px;
    height: 60px;
}

#banner .apply-text {
    color: rgb(255, 255, 255);
    font-weight: 600;
}

#banner .apply-button:hover {
    background-color: #ccc;
    cursor: pointer;
}


 
.glow-on-hover {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #000
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}



#banner button{
    width: 170px;
    height: 50px;
    font-size:medium;
    font-weight: bold;
}

/* Second button */

.wrapper1{
    position: relative;
    top: 1%;
    left: 30%
    /* 
    
     */
    translate(-50%, -50%);
    
    
  }
  
  .a1{
    display: block;
    width: 200px;
    height: 40px;
    line-height: 40px;
    font-size: 18px;
    font-family: sans-serif;
    text-decoration: none;
    color: #333;
    border: 2px solid #333;
    letter-spacing: 2px;
    text-align: center;
    position: relative;
    transition: all .35s;
    border-radius: 10px;
  }
  
  .a1 span{
    position: relative;
    z-index: 1;
  }
  
  .a1:after{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #ff003b;
    transition: all .35s;
    border-radius: 10px;
  }
  
  .a1:hover{
    color: #fff;
  }
  
  .a1:hover:after{
    width: 100%;
  }
  

/*-------------------------------------------------------------*/
/*Join the community*/
#community{
    background-color: #f6f4f7;
    padding: 100px 120px 100px 120px;
    display: flex;
    
}

#community .left{
    width: 50%;
    display: flex;
    
    flex-direction: column;
    /* height: 400px; */
    line-height: 50px;
    padding-right: 40px;
}

#community .right{
   width: 50%;
   left: 50%;
}

#community .para1{
    color: orangered;
    letter-spacing: 1px;
    font-size: 16px;
    text-transform: uppercase;
    display: block;
    font-weight: 800;
}

#community .para2{
    font-size: 30px;
    margin-top: 16px;
    margin-bottom: 20px;
    font-weight: 800;
}

#community .para3 {
    line-height: 48px;
}

#community .visit-button{
    border: 0px;
    margin-top: 16px;
    justify-items: center;
    width: 30%;
    display: inline-block;
    background-color: orangered;
    font-weight: 500;
    padding: 10px;
    border-radius: 20px;
}

#community .visit-button a {
    color: white;
}

#community .visit-button:hover {
    background-color: #ccc;
    cursor: pointer;
}

/* Visit Button */

.visitButton-line{
    display: flex;
    justify-content:baseline;
    margin-top: 13px;
}

.wrapper {
    display: flex;
    justify-content: center;
    position: relative;
    right: 90px;
    left: 40px;
    top: 55px;
  }
  
  .cta {
      display: flex;
      padding: 10px 45px;
      text-decoration: none;
      font-family: 'Poppins', sans-serif;
      font-size: 20px;
      color: white;
      background: #6225E6;
      transition: 1s;
      box-shadow: 6px 6px 0 black;
      transform: skewX(-15deg);
      max-height: 75px;
  }
  
  .cta:focus {
     outline: none; 
  }
  
  .cta:hover {
      transition: 0.5s;
      box-shadow: 10px 10px 0 #FBC638;
  }
  
  .cta span:nth-child(2) {
      transition: 0.5s;
      margin-right: 0px;
  }
  
  .cta:hover  span:nth-child(2) {
      transition: 0.5s;
      margin-right: 45px;
  }
  
    span {
      transform: skewX(15deg) 
    }
  
    span:nth-child(2) {
      width: 20px;
      margin-left: 30px;
      position: relative;
      top: 12%;
    }
    
  /**************SVG****************/
  
  path.one {
      transition: 0.4s;
      transform: translateX(-60%);
  }
  
  path.two {
      transition: 0.5s;
      transform: translateX(-30%);
  }
  
  .cta:hover path.three {
      animation: color_anim 1s infinite 0.2s;
  }
  
  .cta:hover path.one {
      transform: translateX(0%);
      animation: color_anim 1s infinite 0.6s;
  }
  
  .cta:hover path.two {
      transform: translateX(0%);
      animation: color_anim 1s infinite 0.4s;
  }
  
  /* SVG animations */
  
  @keyframes color_anim {
      0% {
          fill: white;
      }
      50% {
          fill: #FBC638;
      }
      100% {
          fill: white;
      }
  }

  @import url('https://fonts.googleapis.com/css?family=Poppins:900i');

/*============================================================*/

/* Event*/
#Event{
    margin:  100px 50px 200px 50px;
}



#Event .Event-title{
    color: #db4437;
    letter-spacing: 1px;
    font-size: 16px;
    text-transform: uppercase;
    display: block;
    margin-bottom: 10px;
    margin-left: 75px;
}
#Event .Event-Recently{
    margin-bottom: 30px;
    font-size: 50px;
    margin-left: 75px;

}
#Event .Event-Recently-Event{
    position: relative;
    text-transform: uppercase ;
    
    font-size: 90px;
    margin-left: 200px;
    margin-top: -50px;
    left: 300px;
    bottom: 180px;
}
#Event-list{
    display: flex;  
    margin-top: 50px; 
    font-size: 20px;
}
#Event .Event-website{
    background-color: white;
   width: 33%;
}
#Event .Event-website-title ,#Event  a{
    margin-top: 15px;
    color: black;
}
#Event .Event-YouthCode{  
    width: 33%;
    margin-left: 100px;
 }
#Event .Event-YouthCode-title ,#Event a{  
   color: black;
 }
#Event .Event-LearningSeries{
    background-size: cover;
    background-color: white;
    width: 33%;
    margin-left: -30px;
    background-size: cover;
 }
 #Event .Event-LearningSeries-title ,#Event a{
    margin-top: 15px;
    color: black;
 }
 #Event .Event-YouthCode:hover ,#Event .Event-website:hover,#Event .Event-LearningSeries:hover {
    width: 45%;


 }

 .Event-Right{
    max-height: 40px;
 }

 .text3-bannerX{
    position: relative;
    left: 70px;
    bottom: 110px;
    max-height: 10px;
 }


/*============================================================*/
/* định dạng thẻ div chưa các button tab */
#function{
    margin:  100px 0px 200px 0px;
    padding-left: 40px;
    padding-right: 40px;
}
#function .function-content-plan{
    color: #db4437;
    letter-spacing: 1px;
    font-size: 16px;
    text-transform: uppercase;
    display: block;
    font-weight: 800;
}
#function .function-content-function {
    letter-spacing: 1px;
    font-size: 32px;
    display: block;
    font-weight: 800;
}
#function .function-content-function2{
    letter-spacing: 1px;
    font-size: 32px;
    display: block;
    font-weight: 800;
    margin-bottom: 50px;
}
#function .function-tab{
    display: flex;
    height: 100px;
}
 /* định dạng các button tab */
#function #function-tab1{
    background-color: #4285f4;
    font-size: 16px;
    text-transform: uppercase;
    color: black;
    width: 20%;
}
#function #function-tab2{
    background-color: #db4437;
    text-transform: uppercase;
    color: black;
    width: 20%;
}
#function #function-tab3{
    background-color: #f4b400;
    color: black;
    text-transform: uppercase;
    width: 20%;
}
#function #function-tab4{
    background-color: #0f9d58;
    color: black;
    text-transform: uppercase;
    width: 20%;
}
#function #function-tab5{
    background-color: #000080;
    text-transform: uppercase;
    color: black;
    width: 20%;
}
/* đổi màu khi một button tab được hover va active*/
#function #function-tab1:hover ,#function #function-tab1:focus,#function #function-tab1.active {
    background-color: #3971cb;
    color: white;
}
#function #function-tab2:hover ,#function #function-tab2:focus, #function #function-tab2.active{
    background-color: red;
    color: white;
}
#function #function-tab3:hover ,#function #function-tab3:focus, #function #function-tab3.active{
    background-color: rgb(238, 255, 0);
    color: white;
}
#function #function-tab4:hover ,#function #function-tab4:focus, #function #function-tab4.active{
    background-color: #0d844b;
    color: white;
}
#function #function-tab5:hover ,#function #function-tab5:focus ,#function #function-tab5.active{
    background-color: rgb(1, 1, 106);
    color: white;
   
}
/* định dạng nội dung hiển thị */
#function .tabcontent {
    display: none;
    padding: 6px 12px;
    border:none;
    border-top: none;
    background-color: #f9f9ff;
    box-shadow:#000;
}
/*============================================================*/
#Development .Development-content1, .Development-content2,.Development-content3{
    background-color:rgb(255, 255, 255);
    margin-bottom: 10px;
    margin-top: 5px;
    border: none;
    padding-top: 60px ;
    padding-bottom: 60px;
    margin: 15px 17px 10px 17px;
    border: #dfdfdf solid 2px;
    border-radius: 10px;
    font-size: 27px;
    padding-left: 30px;

 }
.externalRelation-content1, .externalRelation-content2,.externalRelation-content3{
    background-color:rgb(255, 255, 255);
    margin-bottom: 10px;
    margin-top: 5px;
    padding-top: 60px ;
    padding-bottom: 60px;
    margin: 15px 17px 10px 17px;
    border: #dfdfdf solid 2px;
    border-radius: 10px;
    font-size: 27px;
    padding-left: 30px;
 }

.marketing-content1, .marketing-content2,.marketing-content3{
    background-color:rgb(255, 255, 255);
    margin-bottom: 10px;
    margin-top: 5px;
    padding-top: 60px ;
    padding-bottom: 60px;
    margin: 15px 17px 10px 17px;
    border: #dfdfdf solid 2px;
    border-radius: 10px;
    font-size: 27px;
    padding-left: 30px;
 }
 .eventOperation-content{
    background-color:rgb(255, 255, 255);
    margin-bottom: 10px;
    margin-top: 5px;
    padding-top: 60px ;
    padding-bottom: 60px;
    margin: 15px 17px 10px 17px;
    border: #dfdfdf solid 2px;
    border-radius: 10px;
    font-size: 27px;
    padding-left: 30px;
 }
 .fessiorSolution-content{
    background-color:rgb(255, 255, 255);
    margin-bottom: 10px;
    margin-top: 5px;
    padding-top: 60px ;
    padding-bottom: 60px;
    margin: 15px 17px 10px 17px;
    border: #dfdfdf solid 2px;
    border-radius: 10px;
    font-size: 27px;
    padding-left: 30px;
 }
 #Development .Development-content1 ,.externalRelation-content1 ,.marketing-content1,.eventOperation-content,
.fessiorSolution-content{
    margin-top: 20px;
}

.Development-content1 p, .Development-content2 p, .Development-content3 p{
    color: #888888;
    margin-top: 35px;
}


/* NEW TABS */



/*============================================================*/
/* Sponsors */
#Sponsors{
    margin:  100px 50px 200px 50px;
}
#Sponsors .Sponsors-slogan{
    color: #db4437;
    letter-spacing: 1px;
    font-size: 16px;
    text-transform: uppercase;
    display: block;
    font-weight: 800;
}
#Sponsors .Sponsors-title{
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 32px;
    display: block;
    font-weight: 800;
}
#Sponsors .Sponsors-list {
    text-align: center;
    justify-content: center;
    color: orange;
    text-transform: uppercase;
    font-size: 16px;

}
#Sponsors .Sponsors-list .Sponsor-1{
    margin-top: 50px;
    margin-bottom: 100px;
}
#Sponsors .Sponsors-list .Sponsor-2{
    margin-top: 200px;
    margin-bottom: 100px;
}
/*============================================================*/

/*============================================================*/
/*Footer*/
#Footer {
  position: relative;
  display: flex;
  bottom: 0px;
  width: 100% ;
  height: 300px;
  background-color: #1a1a1a;
  color: white;
}
#Logo-Slogan {
 position: absolute;
 margin-left: 50px;
 padding-right: 400px;
 font-size: 16px;
}
#Logo-Slogan .Logo-img{
    width: 60px;
    height: 80px;
}
#mail-input {
    margin-top: 20px;
}
#mail-input .subcribe-mail{
   color: white;
}
#Contact-infor{
    position: absolute;
    margin-top: 50px;
    margin-left: 20px;
    right: 150px;
}
#Follow-infor{
    position: absolute;
    margin-left:50px;
    margin-top: 50px;
    right: 50px;
}
/*============================================================*/

/*============================RECRUITMENT====================================*/

.navigation{
    width: 100%;
    height: 80px;
    background-color: #1a1a1a;
    display: flex;
    justify-content: space-around;
}
.nav__menu, .nav__menu a{
    right: 0;
    display: flex;
    color: white ;
    font-family: 'Montserrat', sans-serif;
    font-size:medium;
}



.nav__menu *:hover{
    color: rgb(248, 102, 23);
}

.nav__img{
    padding-left: 20px;
    display: flex;
}

.nav__imgname{
    padding: 0px 190px 0px 0px;
    margin-top: 15px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
}

img.nav__img{
    height: 80px;
    width: 80px;
    display: flex;
    float: left;
}

section{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(./Picture/2background.jpg);
    width: 100%;
    height: 533px;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    z-index: -2;
}


section .box::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background: #1a1a1a;
    opacity: .78;
}

section .box{
    text-align: center;
}

#nav__a {
    color: white;
    margin-top: 27px;
    margin-right: 30px;

}