*{
    padding: 0;
    margin: 0;
}
a{
    color: white;
    text-decoration: none;
    padding: 20px;
}


header{
    position: fixed;
    width: 100%;
    z-index: 3;
}

.header-main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
}

.header-menu{
    display: flex;
    text-transform: uppercase;
    padding: 10px 20px;
}

.logo-banner {
    position: absolute;  
    left :60px;
    top: 50px;
}
.backgroundTop-banner{
    background: url('./Picture/back.jpg') no-repeat top center / cover;
    display: flex;
    opacity: 0.3;
    top :50px;
}
.text1-banner{
    position: absolute;
    top : 200px;
    left: 50px;
    color: darkorange;
    
}

.text11-banner{
    color :blue;
}

.text2-banner{
    position: absolute;
    top : 230px;
    left: 100px;
    color: black;
}

.text3-banner{
    position: absolute;
    top : 270px;
    left: 50px;
    color: darkblue;
}
.text31-banner{
    color :red;
}
.text32-banner{
    color :blue;
}
.text33-banner{
    color :darkgreen;
}
.text33-banner{
    color :darkorange;
}

.position-banner{
    position: absolute;
    color: black;
    top: 310px;
   left: 50px;
}

.apply-button{
    position: absolute;
    border: 0px;
    background-color: orangered;
    top :370px;
    left: 80px;
    width: 120px;
    height: 60px;
}
 