/* defaule css*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
#header a{
    color: white;
    text-decoration: none;
    padding: 15px 20px;
    display: block;
}

html {
    scroll-behavior: smooth;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}


#header{
    display: flex;
    background-color: rgb(255, 255, 255);;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(0, 0, 0);
    position: fixed;
    width: 100%;
    height: 50px;
    z-index: 3;
}

#header li {
    display: inline-block;
}

#header .header-menu{
    display: block;
    text-transform: uppercase;
    padding: 10px 20px;
    list-style-type: none;
    font-weight: bolder;
}

#header .header-menu a:hover {
    color: black;
    background-color: #ccc;
    cursor: pointer;
}


#banner {
    width: 100%;
    height: 570px;
    position: relative;
    padding: 50px 0px 0px 0px;
    margin: 0px 0px 20px 0px;
    background: url('./Picture/back.jpg') no-repeat top center / cover;
}

#banner .banner-content {
    position: relative;
    width: 40%;
    height: calc(100% - 50px);
    margin: 20px 0px 20px 120px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#banner .logo-banner {
    position: relative; 
}


#banner .text1-banner{
    position: relative;
    color: orangered; 
    font-size: medium; 
    font-weight: 800;
}

#banner .text11-banner{
    color :blue;
}

#banner .text2-banner{
    position: relative;
    color: rgb(0, 0, 0);
    font-weight: 1000;
}

#banner .text3-banner{
    position: relative;
    color: darkblue;
    font-weight: 1000;
    text-transform: uppercase;
}
#banner .text31-banner{
    color :red;
}
#banner .text32-banner{
    color :rgb(3, 3, 219);
}
#banner .text34-banner{
    color :rgb(1, 166, 1);
}
#banner .text33-banner{
    color :rgb(251, 140, 4);
}

#banner .position-banner{
    position: relative;
    color: orangered;
}

#banner .apply-button{
    position: relative;
    border: 0px;
    background-color: orangered;
    width: 120px;
    height: 60px;
}

#banner .apply-text {
    color: rgb(255, 255, 255);
    font-weight: 600;
}

#banner .apply-button:hover {
    background-color: #ccc;
    cursor: pointer;
}
/*-------------------------------------------------------------*/
/*Join the community*/
#community{
    background-color: rgb(255, 255, 255);;
    margin: 50px;
    display: flex;
}

#community .left{
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* height: 400px; */
    line-height: 40px;
}

#community .right{
   width: 50%;
   left: 50%;
}

#community .para1{
    color: orangered;
    letter-spacing: 1px;
    font-size: 16px;
    text-transform: uppercase;
    display: block;
    font-weight: 800;
}

#community .para2{
    font-size: 30px;
    margin-top: 16px;
    margin-bottom: 20px;
    font-weight: 800;
}

#community .para3 {
    line-height: 48px;
}

#community .visit-button{
    border: 0px;
    margin-top: 16px;
    justify-items: center;
    width: 30%;
    display: inline-block;
    background-color: orangered;
    font-weight: 800;
    padding: 10px;
    border-radius: 20px;
}

#community .visit-button a {
    color: white;
}

#community .visit-button:hover {
    background-color: #ccc;
    cursor: pointer;
}
/*============================================================*/

/* Event*/
#Event{
    margin:  100px 50px 200px 50px;
}
#Event .Event-title{
    color: #db4437;
    letter-spacing: 1px;
    font-size: 16px;
    text-transform: uppercase;
    display: block;
    margin-bottom: 10px;
}
#Event .Event-Recently{
    margin-bottom: 30px;
    font-size: 50px;
}
#Event .Event-Recently-Event{
    position: absolute;
    text-transform: uppercase ;
    color: orangered;
    font-size: 100px;
    margin-left: 20px;
    margin-top: -45px;
}
#Event-list{
    display: flex;  
    margin-top: 50px; 
    font-size: 20px;
}
#Event .Event-website{
    background-color: white;
   width: 33%;
}
#Event .Event-website-title ,#Event  a{
    margin-top: 15px;
    color: black;
}
#Event .Event-YouthCode{  
    width: 33%;
    margin-left: 100px;
 }
#Event .Event-YouthCode-title ,#Event a{  
   color: black;
 }
#Event .Event-LearningSeries{
    background-size: cover;
    background-color: white;
    width: 33%;
    margin-left: -30px;
    background-size: cover;
 }
 #Event .Event-LearningSeries-title ,#Event a{
    margin-top: 15px;
    color: black;
 }
/*============================================================*/
/* định dạng thẻ div chưa các button tab */
#function{
    margin:  100px 50px 200px 50px;
}
#function .function-content-plan{
    color: #db4437;
    letter-spacing: 1px;
    font-size: 16px;
    text-transform: uppercase;
    display: block;
    font-weight: 800;
}
#function .function-content-function {
    letter-spacing: 1px;
    font-size: 32px;
    display: block;
    font-weight: 800;
}
#function .function-content-function2{
    letter-spacing: 1px;
    font-size: 32px;
    display: block;
    font-weight: 800;
    margin-bottom: 50px;
}
#function .function-tab{
    display: flex;
    height: 100px;
}
 /* định dạng các button tab */
#function #function-tab1{
    background-color: lightskyblue;
    font-size: 16px;
    text-transform: uppercase;
    color: black;
    width: 20%;
}
#function #function-tab2{
    background-color: lightsalmon;
    text-transform: uppercase;
    color: black;
    width: 20%;
}
#function #function-tab3{
    background-color: gold;
    color: black;
    text-transform: uppercase;
    width: 20%;
}
#function #function-tab4{
    background-color: lightgreen;
    color: black;
    text-transform: uppercase;
    width: 20%;
}
#function #function-tab5{
    background-color: blueviolet;
    text-transform: uppercase;
    color: black;
    width: 20%;
}
/* đổi màu khi một button tab được hover va active*/
#function #function-tab1:hover ,#function #function-tab1:focus,#function #function-tab1.active {
    background-color: darkblue;
    color: white;
}
#function #function-tab2:hover ,#function #function-tab2:focus, #function #function-tab2.active{
    background-color: red;
    color: white;
}
#function #function-tab3:hover ,#function #function-tab3:focus, #function #function-tab3.active{
    background-color: orange;
    color: white;
}
#function #function-tab4:hover ,#function #function-tab4:focus, #function #function-tab4.active{
    background-color: darkgreen;
    color: white;
}
#function #function-tab5:hover ,#function #function-tab5:focus ,#function #function-tab5.active{
    background-color: darkblue;
    color: white;
   
}
 
/* định dạng nội dung hiển thị */
#function .tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid black;
    border-top: none;
    background-color: whitesmoke;
}
/*============================================================*/
#Development .Development-content1, .Development-content2,.Development-content3{
    background-color:rgb(255, 255, 255);
    margin-bottom: 10px;
    margin-top: 5px;
 }
.externalRelation-content1, .externalRelation-content2,.externalRelation-content3{
    background-color:rgb(255, 255, 255);
    margin-bottom: 10px;
    margin-top: 5px;
 }

 #marketing-content .marketing-content1, .marketing-content2,.marketing-content3{
    background-color:rgb(255, 255, 255);
    margin-bottom: 10px;
    margin-top: 5px;
 }
 .eventOperation-content{
    background-color:rgb(255, 255, 255);
    margin-bottom: 10px;
    margin-top: 5px;
 }
 .fessiorSolution-content{
    background-color:rgb(255, 255, 255);
    margin-bottom: 10px;
    margin-top: 5px;
 }
/*============================================================*/



/*============================RECRUITMENT====================================*/

.navigation{
    width: 100%;
    height: 80px;
    background-color: #1a1a1a;
    display: flex;
    justify-content: space-around;
}
.nav__menu, .nav__menu a{
    right: 0;
    display: flex;
    color: white ;
    font-family: 'Montserrat', sans-serif;
    font-size:medium;
}



.nav__menu *:hover{
    color: rgb(248, 102, 23);
}

.nav__img{
    padding-left: 20px;
    display: flex;
}

.nav__imgname{
    padding: 0px 190px 0px 0px;
    margin-top: 15px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
}

img.nav__img{
    height: 80px;
    width: 80px;
    display: flex;
    float: left;
}

section{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(./Picture/2background.jpg);
    width: 100%;
    height: 533px;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    z-index: -2;
}


section .box::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background: #1a1a1a;
    opacity: .78;
}

section .box{
    text-align: center;
}

#nav__a {
    color: white;
    margin-top: 27px;
    margin-right: 30px;

}